@font-face {
    font-family: 'Chillax';
    src:
        url('../fonts/Chillax-Regular.woff2') format('woff2'),
        url('../fonts/Chillax-Regular.woff') format('woff'),
        url('../fonts/Chillax-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax';
    src:
        url('../fonts/Chillax-Medium.woff2') format('woff2'),
        url('../fonts/Chillax-Medium.woff') format('woff'),
        url('../fonts/Chillax-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax';
    src:
        url('../fonts/Chillax-Semibold.woff2') format('woff2'),
        url('../fonts/Chillax-Semibold.woff') format('woff'),
        url('../fonts/Chillax-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

.icon-noise_pollution {
    background-color: #FF82E2;
    border-color: #FF82E2;
}

.icon-favorite_place {
    background-color: #578DFC;
    border-color: #578DFC;
}

.icon-least_favorite_place {
    background-color: #FF4C50;
    border-color: #FF4C50;
}

.icon-presence_of_wildlife {
    background-color: #83D873;
    border-color: #83D873;
}

.icon-closest_green_area {
    background-color: #36B17A;
    border-color: #36B17A;
}

.icon-lack_of_green {
    background-color: #FFC64C;
    border-color: #FFC64C;
}

.icon-air_pollution {
    background-color: #8366DA;
    border-color: #8366DA;
}

.icon-water_on_the_ground {
    background-color: #81DFD4;
    border-color: #81DFD4;
}

.icon-feeling_of_unsafety {
    background-color: #C5C5B9;
    border-color: #C5C5B9;
}

.icon-trash_in_the_streets {
    background-color: #937549;
    border-color: #937549;
}

.icon-need_for_improvement {
    background-color: #000000;
    border-color: #000000;
}

.icon-hottest_place {
    background-color: #FF8442;
    border-color: #FF8442;
}